body {
  background: #fcecdd;
}

form {
  display: block;
  margin: 25px 25px;
  text-align: center;
}
i {
  display: block;
  text-align: right;
}

button {
  display: inline;
}
.weather-icon {
  display: block;
  margin: 0 auto;
  width: 100px;
}
.city {
  font-family: arial;
  font-size: 45px;
  bottom: 1px;
}
.country {
  font-family: "Pangolin", cursive;
  font-size: 35px;
  color: grey;
}
.maintemperature {
  font-size: 100px;
}
.advice {
  color: grey;
  font-size: small;
}
.forecast {
  font-size: 20px;
  color: grey;
  opacity: 0, 7;
}
.weather-icon-forecast {
  width: 5px;
  font-size: 5px;
}
.opensourcelink {
  text-align: center;
}
