body {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

form {
  margin: 25px 25px;
}
i {
  display: block;
  text-align: right;
}
img {
  display: block;
  margin: 0 auto;
  width: 200px;
}
button {
  display: inline;
}
.icon-current-day {
  color: #f83600;
  font-size: medium;
  display: block;
  text-align: right;
  font-size: 40px;
}
.icon {
  font-size: medium;
  display: block;
  text-align: right;
  font-size: 40px;
  color: #f9d423;
}
.city {
  font-family: arial;
  font-size: 45px;
  bottom: 1px;
}
.country {
  font-family: "Pangolin", cursive;
  font-size: 35px;
  color: grey;
}
.maintemperature {
  font-size: 60px;
}
.advice {
  color: grey;
  font-size: small;
}
