body {
  background: #fcecdd;
}

form {
  display: block;
  margin: 25px 25px;
  text-align: center;
}
i {
  display: block;
  text-align: right;
}
img {
  display: block;
  margin: 0 auto;
  width: 200px;
}
button {
  display: inline;
}

.weather-icon {
  size: 50px;
}
.icon {
  font-size: medium;
  display: block;
  text-align: right;
  font-size: 40px;
  color: #f9d423;
}
.city {
  font-family: arial;
  font-size: 45px;
  bottom: 1px;
}
.country {
  font-family: "Pangolin", cursive;
  font-size: 35px;
  color: grey;
}
.maintemperature {
  font-size: 100px;
}
.advice {
  color: grey;
  font-size: small;
}
